* {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  height: 100dvh;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

input {
  width: 40px;
  height: 35px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

button {
  margin-top: 2rem;
  padding: 9px 25px;
  font-size: larger;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 2rem;
}
